h1{
    color: red;
}
h2{
    color: chocolate;
}
p{
    font-size: 13px;
}
:host {
    font-family: Verdana;
    color: #555;
}
input.ng-touched.ng-invalid {
    border: solid red 2px;
}
input.ng-touched.ng-valid {
    border: solid green 2px;
}